<div class="span4">
    <div class="row">
        <%= render 'profile_top_center' %>
    </div>
    <div class="row">
        <br>
        <div align="center">
            <% if current_user.friends_with?(@user) %>
                <h4>You are friends!</h4>
                <%= link_to "Disconnect", friendship_destroy_path(:friendship_id => Friendship.find_by_user_id_and_friend_id(@user.id,current_user.id).id), :method => :post, :class=>'btn btn-danger btn-mini' %>
            <% elsif current_user.friend_request_pending?(@user) %>
                <%= link_to "Approve", user_pending_post_path(:friendship_id => Friendship.find_by_user_id_and_friend_id(@user.id,current_user.id).id), :method => :post, :class=>'btn btn-success' %>
            <% else %>
                <% unless @user == current_user %>
                    <%= link_to "Connect", friendships_path(:friend_id => @user), :method => :post, :class => 'btn btn-primary' %>
                <% end %>
            <% end %>
        </div>
        <div align="center">
            <h4>Connections:</h4>
            <% @connections.each do |c| %>
                <%= link_to image_tag("http://graph.facebook.com/#{c.uid}/picture?type=square", :class => "img-rounded"), user_show_path(:user =>c.id) %>
            <% end %>
        </div>
        <% if @user == current_user and @pending.count > 0%>
            <div align="center">
                <h4><%= link_to "Pending (#{current_user.requested_friendships.count})", user_pending_path %></h4>
                 <% @pending.each do |p| %>
                        <%= link_to image_tag("http://graph.facebook.com/#{p.uid}/picture?type=square", :class => "img-rounded"), user_show_path(:user =>p.id) %>
                <% end %>
            </div>
        <% end %>
	<% if @user == current_user and @user.events.count > 0%>
            <div align="center">
                <h4><%= link_to "Events (#{current_user.events.count})" %></h4>
                 <% @user.events.each do |e| %>
                        <% if false %> <%= link_to image_tag(e.eventphoto.url, :width => 100), event_path(:event =>e.id), :class => 'img-rounded' %> <% end %>
			<%= link_to "(#{e.title})", event_path(:event =>e.id) %>
                <% end %>
            </div>
	  <% elsif @user.events.count == 0 %>
	    <div align="center">
                <h4><%= link_to "Event (#{current_user.events.count})" %></h4>
            </div>
        <% end %>
        <br>
        <div align="center">
            <h4><%= link_to "Interests (#{@user.interests.count})", user_interests_path(:user => @user) %></h4>
        </div>
    </div>
    <!-- <div class="span4">
        <h3><em>Social Feed</em></h3>
        <ul class="thumbnails">
            <li>
                <div class="thumbnail">
                    <img src="img/profile/foursquare.jpg" alt="">
                        <h4>Foursquare check-ins</h4>
                        <p>Find out where Alp is.</p>
                        </div>
            </li>
            <li>
                <div class="thumbnail">
                    <img src="img/profile/instagram copy.jpg" alt="">
                        <h4>Instagram Pictures</h4>
                        </div>
            </li>
            <li>
                <div class="thumbnail">
                    <img src="img/profile/twitter copy.jpg" alt="">
                        <h4>Tweets</h4>
                        </div>
            </li>
        </ul>
    </div> -->
</div>

<div class="span7">
    <div class="row">
        <h3><em>Voices</em></h3>
        <% if @user == current_user%>
            <!-- RAISE YOUR VOICE INPUT FIELD -->
            <%= form_for(@voice, :html => { :class => "form-inline"} ) do |f| %>
                <div class="input-append">
                    <%= f.text_field :content, :placeholder => "Raise your Voice!", :class =>"span6", :id =>"appendedInputButton"%>
                    <%= f.submit "Post", :class => "btn" %>
                </div>
            <% end %>
        <% end %>
        <!-- Display Voices -->
        <% @voices.each do |v| %>
            <div class="row"  id="activity_feed_item">
                <div class="span1" align="center">
                    <%= link_to image_tag("http://graph.facebook.com/#{@user.uid}/picture?type=square", :class => "img-circle"), user_show_path(:user => @user) %>
                </div>
                <div class="span6">
                    <a href=<% user_show_path(:user => @user) %>><%= "#{@user.name} #{@user.surname}" %></a> <%= v.content %>
                    <p class="muted"><small><%= time_ago_in_words(v.created_at) %> ago</small></p>
                </div>
            </div>
            <hr class="bs-docs-separator">
        <% end %>
    </div>
</div>
