<%= form_for @event, :html => { :class => "form-horizontal"} do |f| %>
  <div class="control-group">
      <%= f.label :title, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
  </div>
  <div class="control-group">
      <%= f.label :description, :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :description, :rows => 3 %>
      </div>
  </div>
  <div class="control-group">
      <%= f.label :place, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :place %>
      </div>
  </div class="control-group">
  <div class="control-group">
      <%= f.label :interest_tokens, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :interest_tokens, :data => {:load => @event.interests} %>
      </div>
  </div>

   <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
   <input class="span2" size="16" type="text" value="12-02-2012">
</p>
  <div class="control-group">   
    <div class="controls">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
