<%= link_to "Create an Event", new_event_path, :class=>'btn btn-primary' %>

<p></p>
<% if false %>
<a id="example" data-trigger="hover" data-content="her" href="#" data-placement="bottom" data-original-title="Tooltip on Top" title="POP" rel="popover" >POPOVERS</a>
<p></p>
<% end %>

<div class="tabbable">
<ul class="nav nav-tabs" id="myTab">
 <li class="active"><a href="#joinedEvents" data-toggle="tab">Joined Events</a></li>
 <li><a href="#newEvents" data-toggle="tab">New Events</a></li>
 <li><a href="#yourEvents" data-toggle="tab">Created Events</a></li>
 <li><a href="#allEvents" data-toggle="tab">All Events</a></li>
</ul>

<div class="tab-content">
		<div class="tab-pane in active" id="joinedEvents">
                <p>
		       <div class="row">
			<div class="span6">
			  <form class="form-inline">
			   <% current_user.events.each do |event| %>
			   <% @creator = User.find(event.creator_id) %>
			   <div  id="activity_feed_item">
					<table>
						<p align="center"><a href="#"><%= link_to "#{event.title}", event_path(:event => event.id) %></a></p>
						<td width="250" align="center"><img src=""class="img-polaroid" width="200">
							<p align="center">
						        <div class="btn-group" align="center">
					  		<%= link_to "Leave", event_unsubscribe_path(:event_id => event.id), :method => :post, :class=>'btn btn-warning' %>	
						  	</div>
						      </p>
						</td>
						<td><p><label>Creator: <%= link_to "#{@creator.name} #{@creator.surname}", user_show_path(:user => event.creator_id) %></label>
				<%if false%>
				<p><a id="example" data-trigger="hover" data-content= "#{event.title}" href="#" data-placement="bottom" data-original-title="Tooltip on Top" title="POP" rel="popover" >POPOVERS</a>
				<p><%= link_to('Q', '#', :class => "popover-with-html", :title => "Quality", "data-content" => "#{link_to image_tag("", :width => 150), event_path(:event =>event.id)}") %>
				<%end%>
							<p><label>Date: <%= event.time.strftime("%d/%m/%Y") %></label>
							<p><label>Time: <%= event.time.strftime("%H:%M") %></label>
							<p><label>Place: <%= event.place %></label>
						       	<p><label>Description: <%= event.description %></label>	
							
							<p><label>Interests: <%event.interests.each do |i|%><%= link_to "#{i.name}", interest_path(:interest => i.id) %></label> | <%end%></p>
						</td> 					
					</table>
			   </div>
			   <hr class="bs-docs-separator">  
			   <% end %>
			</form>
		     </div>
		    </div>
		</p>
	      </div>
		<div class="tab-pane" id="newEvents">
		 <p>
		       <div class="row">
			<div class="span6">
			  <form class="form-inline">
			   <% @newevents.each do |event| %>
			   <% @creator = User.find(event.creator_id) %>
			   <div  id="activity_feed_item">
					<table>
						<p align="center"><a href="#"><%= link_to "#{event.title}", event_path(:event => event.id) %></a></p>
						<td width="250" align="center"><img src="" class="img-polaroid" width="200">
							<p align="center">
						        <div class="btn-group" align="center">
								<%= link_to "Join", event_subscribe_path(:event_id => event.id), :method => :post, :type => "button", :class => "btn btn-primary btn-mini" %>
						  	</div>
						      </p>
						</td>
						<td><p><label>Creator: <%= link_to "#{@creator.name} #{@creator.surname}", user_show_path(:user => event.creator_id) %></label>
							<p><label>Date: <%= event.time.strftime("%d/%m/%Y") %></label>
							<p><label>Time: <%= event.time.strftime("%H:%M") %></label>
							<p><label>Place: <%= event.place %></label>
						       	<p><label>Description: <%= event.description %></label>		
							<p><label>Interests: <%event.interests.each do |i|%><%= link_to "#{i.name}", interest_path(:interest => i.id) %></label> | <%end%></p>
						</td> 					
					</table>
			   </div>
			   <hr class="bs-docs-separator">  
			   <% end %>
			</form>
		     </div>
		    </div>
		</p>
		</div>
              <div class="tab-pane" id="yourEvents">
                <p>
			       <div class="row">
				<div class="span6">
				  <form class="form-inline">
				   <% @myEvents.each do |event| %>
				   <% @creator = User.find(event.creator_id) %>
				   	<div  id="activity_feed_item">
						<table>	
						    	<p align="center"><a href="#"><%= link_to "#{event.title}", event_path(:event => event.id) %></a></p>					
						    	<td width="250" align="center"><img src="" class="img-polaroid" width="200">
							 <% if current_user.event_subscribed?(event) %>
							<p align="center>
						       		<div class="btn-group" align="center">
									<%= link_to 'Edit', event_edit_path(event), :method => :post, :class => "btn btn-mini"%>
						  			<%= link_to "Leave", event_unsubscribe_path(:event_id => event.id), :method => :post, :class => "btn btn-warning btn-mini" %>
									<%= link_to 'Delete', event_destroy_path(event), :method => :post, :class => "btn btn-danger btn-mini" %>
								
								</div>
							</p>
            						  <% else %>
							<p align="center>
								<div class="btn-group" align="center">
									<%= link_to 'Edit', event_edit_path(event), :method => :post, :class => "btn btn-mini"%>
									<%= link_to "Join", event_subscribe_path(:event_id => event.id), :method => :post, :type => "button", :class => "btn btn-primary btn-mini" %>
									<%= link_to 'delete', event_destroy_path(event), :method => :post, :type => "button", :class => "btn btn-danger btn-mini" %>
								</div>
						      </p>
							<% end %>
						    </td>
						    <td><p><label>Creator: <%= link_to "#{@creator.name} #{@creator.surname}", user_show_path(:user => event.creator_id) %></label>
							<p><label>Date: <%= event.time.strftime("%d/%m/%Y") %></label>
							<p><label>Time: <%= event.time.strftime("%H:%M") %></label>
							<p><label>Place: <%= event.place %></label>
						       	<p><label>Description: <%= event.description %></label>	
						      	<p><label>Interests: <%event.interests.each do |i|%><%= link_to "#{i.name}", interest_path(:interest => i.id) %></label> | <%end%></p>
						    </td>  
						</table>
					</div>
				   <hr class="bs-docs-separator">  
				   <% end %>
				</form>
			     </div>
			    </div>
		</p>
	      </div>
	<div class="tab-pane" id="allEvents">
                <p>
			<div class="row">
			 <div class="span6">
			   <form class="form-inline">
			    <% @events.each do |event| %>
			    <% @creator = User.find(event.creator_id) %>
			   <div  id="activity_feed_item">
				<table>
					<p align="center"><a href="#"><%= link_to "#{event.title}", event_path(:event => event.id) %></a></p>
					<td width="250" align="center"><img src='' class="img-polaroid" width="200" >
					</td>
					<td><p><label>Creator: <%= link_to "#{@creator.name} #{@creator.surname}", user_show_path(:user => event.creator_id) %></label>
			     	  		<p><label>Date: <%= event.time.strftime("%d/%m/%Y") %></label>
						<p><label>Time: <%= event.time.strftime("%H:%M") %></label>
						<p><label>Place: <%= event.place %></label>
						<p><label>Description: <%= event.description %></label>	
						<p><label>Interests: <%event.interests.each do |i|%><%= link_to "#{i.name}", interest_path(:interest => i.id) %></label> | <%end%></p>
			      		</td>
			    	</table>
			   </div>
			   <hr class="bs-docs-separator">  
			   <% end %>
			   </from>
			  </div>
			 </div>
		
		</p>
              </div>
	</div>
</div>
<div class="container">

</div>
