<div class="span4">
	
        <p align="center"><h2><%= link_to "#{@event.title}", event_path(:event => @event.id) %></h2></p>
	<% if false %>	
		<p><img src=<%= @event.eventphoto.url%> class="img-polaroid" width="200"></p>
	<% end %>

	<dl ><!--class="dl-horizontal"-->
              <dt><h4>Description:</h4></dt>
              <dd><%= @event.description %></dd>
              <dt><h4>Place:</h4></dt>
              <dd><%= @event.place %></dd>
              <dt><h4>Date:</h4></dt>
              <dd><%= @event.time.strftime("%d/%m/%Y") %></dd>  
              <dt><h4>Time:</h4></dt>
              <dd><%= @event.time.strftime("%H:%M") %></dd> 
              <dt><h4>Interests:</h4></dt>
              <dd><% @event.interests.each do |interest| %>
					<%= link_to "#{interest.name}", interest_path(:interest => interest.id) %>	|<%end%>
				</dd>     
  </dl>

	<hr class="bs-docs-separator"></hr>
        <% if @event.creator_id == current_user.id %>
        	<%= link_to "Edit", event_edit_path(:event => @event.id), :class=> 'btn btn-mini' %>
	 	<%= link_to "Delete", event_destroy_path(@event), :method => :post, :class=> 'btn btn-danger btn-mini' %>
        <% end %>
</div>
