 <div class="row">
    <!-- Sol kisim -->
 	<div class="span4">
        <h2>
            <%= link_to "#{@interest.name}", interest_path(:interest => @interest.id) %>
            <% if @interest.creator_id == current_user.id %>
                <%= link_to "Edit", interest_edit_path(:interest => @interest.id), :class=> 'btn btn-mini' %>
            <% end %>
        </h2>

        <p class="muted"><small><%= @interest.description %></small></p>

        <p><span class="label label-warning">Tags:</span>
            <% @interest.tags.each do |t| %>
                <span class="label label-success"><%= t.name %></span>
            <% end %>
        </p>
        <hr class="bs-docs-separator"></hr>
        <h3>Events</h3>
        <ul>
            <% @events.each do |event| %>
                <li>
                    <%= link_to "#{event.title}", event_path(:event => event.id) %>
                </li>
            <% end %>
        </ul>
        <hr class="bs-docs-separator"></hr>
    </div>
    <!-- Sag kisim -->
	<div class="span8">
        <h3><em>Activity Feed</em></h3>
        <% if current_user.subscribed?(@interest)%>
            <!-- INTEREST POST FIELD -->
            <%= form_for(@interest_post, :html => { :class => "form-inline"} ) do |f| %>
                <div class="input-append">
                    <%= f.text_field :content, :placeholder => "Share with your interesties!", :class =>"span6", :id =>"appendedInputButton"%>
                    <%= f.hidden_field :interest_id %>
                    <%= f.submit "Post", :class => "btn" %>
                </div>
            <% end %>
        <% end %>
        <!-- Display Voices -->
        <% @interest_posts.each do |i| %>
            <% interest_post_user = i.user %>
            <div class="row"  id="activity_feed_item">
                <div class="span1" align="center">
                    <%= link_to image_tag("http://graph.facebook.com/#{interest_post_user.uid}/picture?type=square", :class => "img-circle"), user_show_path(:user => interest_post_user) %>
                </div>
                <div class="span6">
                    <a href=<% user_show_path(:user => interest_post_user) %>><%= "#{interest_post_user.name} #{interest_post_user.surname}" %></a> <%= i.content %>
                    <p class="muted"><small><%= time_ago_in_words(i.created_at) %> ago</small></p>
                </div>
            </div>
            <hr class="bs-docs-separator">
        <% end %>
        
    </div>
</div>

<div class="row">
   
    <!-- <div class="span4">
        <h3><em>Social Feed</em></h3>
            <ul class="thumbnails">
                <li>
                    <div class="thumbnail">
                        <img src="img/profile/foursquare.jpg" alt="">
                            <h4>Foursquare check-ins</h4>
                            <p>Find out where Alp is.</p>
                            </div>
                </li>
                <li>
                    <div class="thumbnail">
                        <img src="img/profile/instagram copy.jpg" alt="">
                            <h4>Instagram Pictures</h4>
                            </div>
                </li>
                <li>
                    <div class="thumbnail">
                        <img src="img/profile/twitter copy.jpg" alt="">
                            <h4>Tweets</h4>
                            </div>
                </li>
            </ul>
    </div> -->
</div>