<% title "Commit" %>

Committed succesfully

<%= form_for @survey, :url => { :action => "commit" } do |s| %>
	<li>
		<%=s.label :name %>
		<%=s.text_field :name %>

	</li>
	
	<%=s.fields_for :questions do |q| %>
		

		<li><%=h q.text_field :content %></li>

		<%= q.fields_for :answers do |a| %>
			<li>

				<%=a.text_field :content %>
				<%=a.text_field :id %>
				<%=a.check_box :id%>


				
			
				<%=check_box_tag "question[a_id][]", a.id %>
				
			</li>
			
 		 <% end %>
	 	 
  <% end %>
  <p>

  	 <p>
    	<%= s.submit "Submit" ,:class=>'btn btn-primary'%>
  	</p>
<% end %>


<p>

<p>
	<%= link_to "Back to List", surveys_path %>
</p>
