<% title "Survey" %>
<!--
<p>
	<strong>Name:</strong>
	<%=h @survey.name %>
</p>

<ol>
<% for question in @survey.questions %>
	<li><%=h question.content %></li>
	<ol>
	<% for answer in question.answers %>
		<li><%=h answer.content %></li>
		<div>
			<%= check_box_tag "ques[]", "question.id" %>
		</div>
	<%end %>
	</ol>
<%end %>
</ol>
-->


<%= form_for @survey, :url => { :action => "commit" } do |s| %>
	<li>
		<%=s.label :name %>
		<%=s.text_field :name %>

	</li>
	
	<%=s.fields_for :questions do |q| %>
		

		<li><%=h q.text_field :content %></li>

		<%= q.fields_for :answers do |a| %>
			<li>

				<%=a.text_field :content %>
				<%=a.text_field :id %>

							
				<%=check_box_tag "question[a_id][]", a.id %>
				
			</li>
			
 		 <% end %>
	 	 
  <% end %>
  <p>

  	 <p>
    	<%= s.submit "Submit" ,:class=>'btn btn-primary'%>
  	</p>
<% end %>


<p>
|

  <%= link_to "Edit", edit_survey_path(@survey),:class=>'btn btn-info' %> |
  <%= link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete ,:class=>'btn btn-danger'%> |
  <%= link_to "View All", surveys_path ,:class=>'btn btn-primary'%> |
  <!--<%= link_to 'Commit',  committed_survey_path(:surveyId => @survey.id), :class=>'btn btn-primary'%>-->