<%= form_tag "/searchresults" do %>

<div class="control-group">
      <%= label_tag "Name", :class => "control-label" %>
      <div class="controls">
        <%= text_field_tag :name%>
      </div>
  </div>
<div class="control-group">
      <%= label_tag "Surname", :class => "control-label" %>
      <div class="controls">
        <%= text_field_tag :surname%>
      </div>
  </div>

  <div class="control-group">
      <%= label "Tag Tokens", :class => "control-label" %>
      <div class="controls">
        <%= text_field_tag :tag_tokens%>
      </div>
  </div>

  <%= submit_tag "Search" %>

<% end %>