<!DOCTYPE html>
<html>
<head>
  <!-- <link href="app/assets/stylesheets/bootstrap.css" rel="stylesheet"> -->
  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
  </style>
  <!-- <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
  <title>Voice</title>
  <%= stylesheet_link_tag    "application","token-input-facebook", :media => "all" %>
  <%= javascript_include_tag "application", "jquery.tokeninput" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
  </style>
  <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "Voice", root_path, :class => "brand" %> 
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to "Home", root_path %></li>
              <% if logged_in? %>
                <li>
                  <%= link_to(user_show_path(:user => current_user.id)) do %>
                    Profile <% if current_user.requested_friendships.count > 0 %>
                    <span class="badge badge-info"> <%= current_user.requested_friendships.count %></span>
                    <% end %>
                  <% end %>
                </li>
                <li><%= link_to "Users", users_index_path %></li>
               <!--  <li>
                  <%= link_to(user_pending_path) do %>
                    Pending <% if current_user.requested_friendships.count > 0 %>
                    <span class="badge badge-info"> <%= current_user.requested_friendships.count %></span>
                    <% end %>
                  <% end %>
                </li> -->
                
                <li><%= link_to "Interests", interests_path %></li>

                <li>
                  <%= link_to(occasions_path) do %>
                    <% count = Occasion.where('created_at > ?', 1.hour.ago).count %>
                    Occasions <% if count > 0 %>
                    <span class="badge badge-info"> <%= count %></span>
                    <% end %>
                  <% end %>
                </li>
                <li><%= link_to "Recomendations", recommendations_path %></li>
                <li><%= link_to "Discussions", discussions_path %></li>
              <% end %>

              <!-- <li><a href="interests.html">Interests</a></li>
              <li><a href="#">Recomendations</a></li> -->
              <!-- <li><a href="occasions.html">Occasions</a></li>
              <li><a href="events.html">Events</a></li>
              <li><a href="discussions.html">Discussions</a></li>
              <li><a href="surveys.html">Surveys</a></li> -->
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li> -->
            </ul>
          <!--   <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Search">
              <button type="submit" class="btn">Search</button>
            </form> -->
              <% if logged_in? %>
                <div class="pull-right">
                  <p class="navbar-text">
                    Welcome <%= current_user.name %> <%= current_user.surname %>.
                    <!-- 
                    <%= link_to "Edit profile", edit_current_user_path, :class => 'btn btn-mini' %>
                     -->
                    <%= link_to "Log out", logout_path, :class => 'btn btn-mini' %>
                  </p>
                </div>    
              <% else %>
                  <%= form_tag sessions_path, :class => 'navbar-form pull-right' do %>
                    <%= text_field_tag :login, params[:login], :class => 'span2', :placeholder => 'Username or Email' %>
                    <%= password_field_tag :password, nil, :class => 'span2', :placeholder => 'Password'%>
                    <%= submit_tag "Log in" , :class =>'btn' %>
                  <% end %>
              <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "alert alert-#{key}") %>
          <% end %>
      <%= yield %>
      <hr>
      <footer>
        <p>&copy; Company 2012</p>
      </footer>
    </div>
</body>
</html>